html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.page-header {
	background-color: #02160b;
}

.page-header__wrapper {
	width: 1200px;
	margin: 0 auto;
	padding-top: 20px;
}

.page-header__logo {
	width: 222px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.page-header__logo-text {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	line-height: 60px;
	text-transform: uppercase;
	color: #f7f7f7;
}

.page-header__logo-and-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 130px;
}

.site-navigation__list {
	display: flex;
	width: 480px;
	justify-content: space-between;
	align-items: center;
}

.site-navigation__link {
	color: #f7f7f7;
	text-decoration: none;
	font-size: 23px;
	transition-duration: 0.4s;
}

.site-navigation__link:hover {
	color: #cd6326;
}

.site-navigation__link:active {
	color: #8f5613;
}

.site-navigation__search-btn {
	display: flex;
	width: 32px;
	height: 32px;
	align-items: center;
	justify-content: center;
}

.site-navigation__search-btn path {
	transition-duration: 0.4s;
}

.site-navigation__search-btn:hover path {
	fill: #cd6326;
}

.site-navigation__search-btn:active path {
	fill: #8f5613;
}

.site-navigation__sign-in-btn {
	font-family: 'Roboto', sans-serif;
	background: none;
	border: 2px solid #cd6326;
	color: #f7f7f7;
	padding: 11px 23px;
	border-radius: 5px;
	font-size: 23px;
	cursor: pointer;
	transition-duration: 0.4s;
	outline: none;
}

.site-navigation__sign-in-btn:hover,
.site-navigation__sign-in-btn:focus {
	background-color: #cd6326;
}

.site-navigation__sign-in-btn:active {
	background-color: #8f5613;
	border-color: #8f5613;
}

.survival {
	background-color: #02160b;
	background: url('../img/header-bg@1x.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: -210px;
	padding-top: 209px;
	padding-bottom: 240px;
}

.survival__wrapper {
	width: 1200px;
	margin: 0 auto;
}

.survival__title {
	margin: 0;
	font-size: 48px;
	color: #cd6326;
	font-weight: normal;
	margin-bottom: 59px;
	letter-spacing: 2px;
}

.survival__description {
	margin: 0;
	margin-bottom: 50px;
	width: 274px;
	color: #f7f7f7;
	font-size: 18px;
	line-height: 27px;
}

.survival__donate-link {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	text-decoration: none;
	padding: 16px 43px;
	font-size: 23px;
	color: #f7f7f7;
	background-color: #cd6326;
	border-radius: 5px;
	transition-duration: 0.4s;
}

.survival__donate-link:hover,
.survival__donate-link:focus {
	background-color: #e39128;
}

.survival__donate-link:active {
	background-color: #8f5613;
}

.latest-articles {
	padding-top: 130px;
	padding-bottom: 120px;
	background-color: #cccccc;
}

.latest-articles__wrapper {
	width: 1200px;
	margin: 0 auto;
}

.latest-articles__title {
	color: #333333;
	font-size: 48px;
	font-weight: 400;
	margin: 0 0 28px 0;
	text-align: center;
}

.latest-articles__description {
	margin: 0 0 120px 0;
	color: #666666;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
}

.latest-articles__slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.latest-articles__slider-button {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: none;
	background: none;
	cursor: pointer;
}

.latest-articles__slider-button--prev {
	transform: rotate(180deg);
}

.latest-articles__slider-button path {
	transition-duration: 0.3s;
}

.latest-articles__slider-button:hover path {
	fill: #cd6326;
}

.latest-articles__list {
	display: flex;
}

.latest-articles__item {
	display: inline-block;
	width: 300px;
	height: 360px;
	margin: 0 30px;
	background-color: #333333;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition-duration: 0.4s;
}

.latest-articles__item:hover {
	transform: scale(1.05);
	box-shadow: 0px 3px 20px 5px rgba(0, 0, 0, 0.25);
}

.latest-articles__item--1 {
	background-image: url('../img//article-1.jpg');
}

.latest-articles__item--2 {
	background-image: url('../img//article-2.jpg');
}

.latest-articles__item--3 {
	background-image: url('../img//article-3.jpg');
}

.latest-articles__item-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	color: #f7f7f7;
	text-decoration: none;
	padding-bottom: 40px;
}

.latest-articles__item-title {
	font-size: 22px;
	font-weight: 400;
	margin: 0 0 15px 0;
}

.latest-articles__item-description {
	font-size: 17px;
	line-height: 27px;
	margin: 0;
}
